<h1 mat-dialog-title>{{data.bodegaInventario ? 'Editar' : 'Crear'}} Inventario</h1>
<div mat-dialog-content>

  <div class="row">
    <div *ngIf="!data.bodegaInventario" class="col-sm-6">
      <app-seleccionar-bodega (seleccionoBodega)="setearBodega($event)"></app-seleccionar-bodega>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-formulario-bodega-inventario [bodegaInventario]="data.bodegaInventario"
                                        (formularioEmitter)="setearBodegaInventario($event)">

      </app-formulario-bodega-inventario>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!((bodegaSeleccionado && inventarioCrearEditar)|| inventarioCrearEditar)"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.bodegaInventario ? 'Guardar cambios' : 'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
