<h1 mat-dialog-title>{{data.mantenimiento ? 'Editar' : 'Crear'}} Mantenimiento</h1>
<div mat-dialog-content>

  <app-formulario-nuevo-mantenimiento [mantenimiento]="data.mantenimiento"
                                      (formularioEmitter)="setearMantenimiento($event)">

  </app-formulario-nuevo-mantenimiento>

</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!mantenimientoACrear"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.mantenimiento ? 'Guardar cambios' : 'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
