

<div class="row">

  <div class="col-sm-12">
    <mat-card>
      <div class="padding20px">
        <app-titulo-ruta [mostrarIrAtras]="true"
                         [titulo]="'Gestión de departamentos'"
                         [descripcion]="'Gestione todas sus departamentos'"
                         [iconoUrl]="'department.svg'"
        >

        </app-titulo-ruta>
        <br>
        <div class="row mat-elevation-z8 padding20px">
          <div class="col-md-10">
            <mat-form-field color="accent">
              <mat-label>Busque por codigo de nombre o código*</mat-label>
              <input matInput
                     placeholder="Ej: 239"
                     [(ngModel)]="textoBusqueda"
              >
            </mat-form-field>
            <p class="form-text">
              <mat-icon class="icon-small">info</mat-icon>
              Puede buscar los departamentos por código o nombre.
            </p>
            <button class="paddingLeftRigh10" mat-raised-button color="accent"
                    (click)="reiniciarArreglo()"
                    (click)="cargarDatos()"
            >
              Buscar
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="col-md-2">
            <div class="paddingTop26px">
              <button
                mat-raised-button
                (click)="textoBusqueda = ''"
                color="primary">
                <mat-icon class="icon-small">cleaning_services</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="mat-elevation-z8">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">

          </ng-template>
          <ng-template pTemplate="right">
            <button pButton
                    pRipple
                    label="Nuevo"
                    icon="pi pi-plus"
                    class="p-button-success p-mr-2"
                    (click)="abrirModalCrearEditar()">

            </button>
          </ng-template>
        </p-toolbar>
        <p-table [columns]="columnasPrimeTable"
                 [frozenColumns]="columnasPrimeTable"
                 [value]="departamentos"
                 [lazy]="true" (onLazyLoad)="cargarMasDatos($event)"
                 [paginator]="true"
                 [rows]="filas"
                 [totalRecords]="totalDepartamentos"
                 styleClass="p-datatable-responsive-demo"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [class]="'col-width col-width-' + col.width" *ngFor="let col of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{col.header}}
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-departamento let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'nombre'">
                  <mat-card>
                    <div class="row paddinBottom2">
                      <div class="col-sm-10 text-center">
                    <p class="titulo-card-centro">   {{departamento.nombre}}</p>
                      </div>
                      <div class="col-sm-2 text-end">
                        <mat-slide-toggle [checked]="departamento.habilitado"
                                          (change)="activarDesactivarRegistro(departamento)">
                          {{departamento | activoInactivo}}
                        </mat-slide-toggle>
                      </div>
                    </div>

                    <mat-card-content [ngClass]="{
                        'fondo-cumple': departamento.habilitado,
                        'fondo-no-cumple': !departamento.habilitado
                        }">
                      <div class="row">
                        <div class="col-sm-12 text-center paddinBottom2">
                          <strong>Información departamento</strong>
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6 text-center">
                              <strong>Código:</strong> {{departamento.codigo}}
                            </div>
                            <div class="col-sm-6 text-center">
                              <strong>Descripción:</strong> {{departamento.descripcion}}
                            </div>
                          </div>
                        </div>

                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div *ngIf="col.field === 'id'">

                  <div class="mat-elevation-z8">
                    <div class="row padding20px">
                      <div class="col-sm-4 text-center">

                        <button
                          [disabled]="!departamento.habilitado"
                          mat-raised-button color="primary"
                          (click)="abrirModalCrearEditar(departamento)"
                        >
                          Editar
                        </button>

                      </div>
                      <div class="col-sm-4 text-center">

                        <button
                          [disabled]="!departamento.habilitado"
                          mat-raised-button color="primary"
                          (click)="navegarInventario(departamento)"
                        >
                          Ver inventarios
                        </button>

                      </div>
                    </div>
                  </div>

                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No existen departamentos. <strong>Click en nuevo</strong> para crear un departamento</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>

  </div>

</div>
