<div class="row">
  <div class="col-lg-9">
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Seleccionar una fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" (dateChange)="emitirSeleccionoFecha(fechaSeleccionada)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="fechaInicial"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <div class="paddingTop26px">
      <button
        mat-raised-button
        (click)="fechaSeleccionada = undefined; emitirSeleccionoFecha(undefined)"
        color="primary">
        <mat-icon class="icon-small">cleaning_services</mat-icon>
      </button>
    </div>
  </div>
</div>

