

<h1 mat-dialog-title>Agregar productos</h1>
<div mat-dialog-content>
  <div >

    <div class="row" >
      <div *ngIf="!data.articuloInventario" class="col-sm-12">
        <app-seleccionar-producto (seleccionoProducto)="setearProductoSeleccionado($event)">
        </app-seleccionar-producto>
      </div>
      <div class="col-sm-12">
        <div *ngIf="!data.articuloInventario" >
          <mat-form-field class="example-full-width">
            <mat-label>Stock</mat-label>
            <input [(ngModel)]="articuloInventario"
                   matInput
                   type="number"
                   placeholder="0"
                   [disabled]="!puedeAgregarStock"
                   oninput="this.value = Math.abs(this.value)"
                   min=0>
          </mat-form-field>
        </div>


        <app-formulario-producto-inventario [producto]="data.articuloInventario"  (formularioEmitter)="setearDatosArticulo($event)"></app-formulario-producto-inventario>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!((productoSeleccionados && articuloInventario && articuloInventarioDatos) || articuloInventarioDatos)"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">Guardar cambios</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
