<mat-list>
  <h3 mat-subheader>Inicio</h3>
  <mat-list-item [routerLink]="['/']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Menú principal</h4>
    <p mat-line class="demo-2"> Menú </p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Bodegas</h3>
  <mat-list-item [routerLink]="['/bodegas']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Bodegas</h4>
    <p mat-line class="demo-2"> Gestión de bodegas</p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Departamentos</h3>
  <mat-list-item [routerLink]="['/departamentos']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Departamentos</h4>
    <p mat-line class="demo-2"> Gestión de departamentos</p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Productos</h3>
  <mat-list-item [routerLink]="['/productos']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Productos</h4>
    <p mat-line class="demo-2"> Gestión de productos</p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>



  <h3 mat-subheader>Usuarios</h3>
  <mat-list-item [routerLink]="['/usuarios']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Usuarios</h4>
    <p mat-line class="demo-2"> Gestión de usuarios</p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Reportes</h3>
  <mat-list-item [routerLink]="['/reportes']" class="cursor-Flecha" >
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4  mat-line>Reportes</h4>
    <p mat-line class="demo-2"> Visualice sus reportes</p>
    <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
