<div *ngIf="datosCard">
  <a class="card1" [routerLink]="[datosCard.link]">
    <img width="32px" height="32px" [src]="'assets/img/iconos/'+datosCard.icono" alt="">
    <h3>{{datosCard.titulo}}</h3>
    <p class="small">{{datosCard.detalle}}</p>
    <div class="go-corner" [routerLink]="[datosCard.link]">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
</div>
