/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d0f8c3
}
.mat-drawer-content {
  background-color: #d0f8c3 !important;
}


.padding20px {
  padding: 20px;
}
.icono-titulo {
  width: 75px;
  height: 75px;
}

// tamaños de las columnas, se debe aumentar tambien en el app.component.scss
.col-width-30 {
  width: 30%
}

.col-width-70 {
  width: 70%
}

.col-width-25 {
  width: 25%
}

.col-width-40 {
  width: 40%
}

.col-width-60 {
  width: 60%
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

}
.marginbottom1rem{
  margin-bottom: 1rem;
}
.mat-form-field {
  display: unset !important;
  //position: relative;
  //text-align: left;
}

.cursor-Flecha {
  cursor: default;
}


// cards


.card1 {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #fc7e7e;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}


.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #fc7e7e;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}


// titulo
.titulo
{
  background: linear-gradient(
      to right,
      rgba(254,175,6,1) 10%,
      rgba(239,89,48,1) 40%,
      rgba(112,35,127,1) 60%,
      rgba(37,100,183,1) 90%);
  text-align: center;
  color: #fff;
  font-family: tahoma;
  font-weight: lighter;
}

.titulo span
{
  padding: .5em;
  display: block;
  text-transform: uppercase;
}

.invertido
{
  background: linear-gradient(
      to right,
      rgb(237, 6, 254) 30%,
      rgb(239, 48, 48) 45%,
      rgba(112,35,127,1) 55%,
      rgba(37,100,183,1) 70%);
}

.invertido span
{
  background-color: white;
  color: #333;
  mix-blend-mode: screen;
  box-shadow:
    inset 0 1px 0 0 black,
    inset 0 -1px 0 0 black;
}

// separaciones

.paddinBottom2 {
  padding-bottom: 2rem;
}
// login
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

// botones

.paddingLeftRigh10 {
  margin-left: 10% !important;
  margin-right: 10% !important;;
  width: 80%;
}
// cards titulos
.titulo-card-centro {
 font-size: 2rem;
}

// footer
.mat-list-base .mat-list-item .mat-line {

  color: #0d6efd !important;
}
