

<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <div class="padding20px">
        <app-titulo-ruta [mostrarIrAtras]="true"
                         [titulo]="'Gestión de usuarios'"
                         [descripcion]="'Gestione todos sus usuarios y permisos'"
                         [iconoUrl]="'usuario.svg'"
        >

        </app-titulo-ruta>
        <br>
        <div class="row mat-elevation-z8 padding20px">
          <div class="col-md-10">
            <mat-form-field color="accent">
              <mat-label>Busque cédula*</mat-label>
              <input matInput
                     placeholder="Ej: 239"
                     [(ngModel)]="textoBusqueda"
              >
            </mat-form-field>
            <p class="form-text">
              <mat-icon class="icon-small">info</mat-icon>
              Puede buscar los usuarios por cédula.
            </p>
            <button class="paddingLeftRigh10" mat-raised-button color="accent"
                    (click)="reiniciarArreglo()"
                    (click)="cargarDatos()"
            >
              Buscar
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="col-md-2">
            <div class="paddingTop26px">
              <button
                mat-raised-button
                (click)="textoBusqueda = ''"
                color="primary">
                <mat-icon class="icon-small">cleaning_services</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="usuarios" class="mat-elevation-z8">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">


          </ng-template>

          <ng-template pTemplate="right">
            <button pButton
                    pRipple
                    label="Nuevo"
                    icon="pi pi-plus"
                    class="p-button-success p-mr-2"
                    (click)="abrirModalCrearEditar()">

            </button>
          </ng-template>
        </p-toolbar>
        <p-table [columns]="columnasPrimeTable"
                 [frozenColumns]="columnasPrimeTable"
                 [value]="usuarios"
                 [lazy]="true" (onLazyLoad)="cargarMasDatos($event)"
                 [paginator]="true"
                 [rows]="filas"
                 [totalRecords]="totalUsuarios"
                 styleClass="p-datatable-responsive-demo"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [class]="'col-width col-width-' + col.width" *ngFor="let col of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{col.header}}
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'nombre'">
                  <mat-card>
                    <div class="row paddinBottom2">
                      <div class="col-sm-10 text-center">
                        <p class="titulo-card-centro">   {{usuario.nombre}}</p>
                      </div>
                      <div class="col-sm-2 text-end">
                        <mat-slide-toggle [checked]="usuario.habilitado"
                                          (change)="activarDesactivarRegistro(usuario)">
                          {{usuario | activoInactivo}}
                        </mat-slide-toggle>
                      </div>
                    </div>

                    <mat-card-content [ngClass]="{
                        'fondo-cumple': usuario.habilitado,
                        'fondo-no-cumple': !usuario.habilitado
                        }">
                      <div class="row">
                        <div class="col-sm-12 text-center paddinBottom2">
                          <strong>Información usuario</strong>
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6 text-center paddinBottom2">
                              <strong>Cédula:</strong> {{usuario.cedula}}
                            </div>
                            <div class="col-sm-6 text-center paddinBottom2">
                              <strong>Usuario:</strong> {{usuario.usuario}}
                            </div>
                            <div class="col-sm-4 text-end paddinBottom2">
                              <mat-slide-toggle [checked]="usuario.gestionaProductos"
                                                (change)="actualizarPermisos(usuario, 'GP')">
                             Gestiona productos
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end paddinBottom2">
                              <mat-slide-toggle [checked]="usuario.gestionaBodegas"
                                                (change)="actualizarPermisos(usuario, 'GB')">
                           Gestiona bodegas
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end paddinBottom2">
                              <mat-slide-toggle [checked]="usuario.gestionaDepartamentos"
                                                (change)="actualizarPermisos(usuario, 'GD')">
                           Gestiona departamentos
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end">
                              <mat-slide-toggle [checked]="usuario.gestionaInventario"
                                                (change)="actualizarPermisos(usuario, 'GI')">
                                Gestiona inventarios
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end">
                              <mat-slide-toggle [checked]="usuario.daMantenimiento"
                                                (change)="actualizarPermisos(usuario, 'M')">
                                Da mantenimiento
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end">
                              <mat-slide-toggle [checked]="usuario.verReporte"
                                                (change)="actualizarPermisos(usuario, 'VR')">
                                Ver reportes
                              </mat-slide-toggle>
                            </div>
                            <div class="col-sm-4 text-end paddinBottom2">
                              <mat-slide-toggle [checked]="usuario.gestionaUsuarios"
                                                (change)="actualizarPermisos(usuario, 'GU')">
                                Gestiona usuarios
                              </mat-slide-toggle>
                            </div>
                          </div>
                        </div>

                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div *ngIf="col.field === 'id'">

                  <div class="mat-elevation-z8">
                    <div class="row padding20px">
                      <div class="col-sm-4 text-center">

                        <button
                          [disabled]="!usuario.habilitado"
                          mat-raised-button color="primary"
                          (click)="abrirModalCrearEditar(usuario)"
                        >
                          Editar
                        </button>

                      </div>
                    </div>
                  </div>

                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No existen usuarios. <strong>Click en nuevo</strong> para crear un usuario</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>

  </div>

</div>
