.example-container {
  position: absolute;
  width: 98%;
  margin: 5px;
  /* bottom: -50px; */
  height: 93%;
  max-height: 93%;
  overflow: auto;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

footer{
  position: fixed;

  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: lightslategray;
  color: white;
  text-align: center;
  margin: 0px;
}

// tabla responsive

:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 65rem) {

  .col-width-30 {
    width: unset;
  }

  .col-width-70 {
    width: unset;
  }

  .col-width-25 {
    width: unset;
  }
  .col-width-40 {
    width: unset;
  }

  .col-width-60 {
    width: unset;
  }
  .col-width:first-child {
    width: 100% !important;
  }

  :host ::ng-deep {

    .col-width-30 {
      width: unset;
    }

    .col-width-70 {
      width: unset;
    }

    .col-width-25 {
      width: unset;
    }
    .col-width-40 {
      width: unset;
    }

    .col-width-60 {
      width: unset;
    }

    .col-width:first-child {
      width: 100% !important;
    }

    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
