<block-ui >
  <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav [mode]="'side'">
      <a [routerLink]="['/']">
        <img  [src]="'assets/img/logo.png'" alt="">
      </a>
<div class="row">
  <div class="col-md-6">
    <p><button mat-button
               (click)="sidenav.toggle()">
      <mat-icon>menu_open</mat-icon> Cerrar
    </button></p>
  </div>
  <div *ngIf="_loginService.estaLogeado" class="col-md-6">
    {{nombreUsuario}}
    <p><button mat-button
               (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon> Salir
    </button></p>
  </div>
</div>



        <app-opciones-menu></app-opciones-menu>
      </mat-sidenav>

      <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button></p>
        <router-outlet style="background-color: #d0f8c3"></router-outlet >

      </mat-sidenav-content>

  </mat-sidenav-container>

  </block-ui>



