<div class="row" style="padding-bottom: 2rem">
  <div class="col-sm-12 text-center">
    <h2 class="titulo invertido">
      <span>Sistema de inventarios y mantenimientos de equipos informaticos</span></h2>

    <p>Seleccione la opción que desee gestionar</p>
  </div>
</div>
<div class="row container text-center" >
  <div class="col-sm-4 " *ngFor="let menu of menuInicio">
    <app-card-menu [datosCard]="menu"></app-card-menu>
  </div>
</div>
