<div *ngIf="formularioUsuario">
  <form [formGroup]="formularioUsuario"
        class="example-form"
  >
    <div class="row">
      <!--nombre -->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorNombre.length === 0 && formularioUsuario?.get('nombre')?.value,
             'is-invalid': mensajesErrorNombre.length > 0
             }"
                   placeholder="Luis Lopez"
                   formControlName="nombre"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un nombre</mat-hint>
            <div *ngIf="mensajesErrorNombre.length > 0">
              <div *ngFor="let mensaje of mensajesErrorNombre">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    cedula-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Cédula</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorCedula.length === 0 && formularioUsuario?.get('cedula')?.value,
             'is-invalid': mensajesErrorCedula.length > 0
             }"
                   placeholder="17171717177"
                   formControlName="cedula"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese una cédula</mat-hint>
            <div *ngIf="mensajesErrorCedula.length > 0">
              <div *ngFor="let mensaje of mensajesErrorCedula">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    usuario-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorUsuario.length === 0 && formularioUsuario?.get('usuario')?.value,
             'is-invalid': mensajesErrorUsuario.length > 0
             }"
                   placeholder="user001"
                   formControlName="usuario"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un usuario</mat-hint>
            <div *ngIf="mensajesErrorUsuario.length > 0">
              <div *ngFor="let mensaje of mensajesErrorUsuario">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    password-->
      <div *ngIf="!ocultarPass" class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorPassword.length === 0 && formularioUsuario?.get('password')?.value,
             'is-invalid': mensajesErrorPassword.length > 0
             }"
                   placeholder="B-01"
                   formControlName="password"
                   [type]="hide ? 'password' : 'text'"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un password</mat-hint>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="mensajesErrorPassword.length > 0">
              <div *ngFor="let mensaje of mensajesErrorPassword">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>


    </div>

    <ng-content></ng-content>
  </form>

</div>
