<h1 mat-dialog-title>{{data.departamento ? 'Editar':'Crear'}} Departamento</h1>
<div mat-dialog-content >
  <app-formulario-departamento [departamento]="data?.departamento"
                               (formularioEmitter)="setearDepartamento($event)"></app-formulario-departamento>

</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!departamentoACrear"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.departamento ? 'Editar':'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
