

<h1 mat-dialog-title>{{data.usuario ? 'Editar':'Crear'}} Usuario</h1>
<div mat-dialog-content>

  <app-formulario-usuario [usuario]="data.usuario"
    (formularioEmitter)="setearUsuario($event)"></app-formulario-usuario>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!usuarioACrear"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.usuario ? 'Guardar cambios':'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
