<div class="row paddinBottom2">
  <div class="col-sm-12">
    <mat-card>
      <div class="padding20px">
        <app-titulo-ruta [mostrarIrAtras]="true"
                         [titulo]="'Reportes'"
                         [descripcion]="'Visualice sus reportes'"
                         [iconoUrl]="'reporte.svg'"
        >

        </app-titulo-ruta>
      </div>
      <br>

    </mat-card>


  </div>
</div>
<div class="row">
  <div class="card">
    <div class="col-sm-12 paddinBottom2">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="porMantenimiento=true" value="bold">Mantenimiento</mat-button-toggle>
        <mat-button-toggle (click)="porMantenimiento=false" value="italic">inventario</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="porMantenimiento" class="col-sm-12">
      <div class="mat-elevation-z8">
        <div class="p-py-3">
          <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)"
                    styleClass="p-button-text" label="Mantenimiento por estado"></p-button>
          <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)"
                    styleClass="p-button-text p-ml-2" label="Mantenimiento por usuario"></p-button>
          <p-button [icon]="activeState[2] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(2)"
                    styleClass="p-button-text p-ml-2" label="Mantenimiento por producto"></p-button>
        </div>
        <p-accordion>
          <p-accordionTab header="Por estado" [(selected)]="activeState[0]">

            <div class="card">
              <div class="col-sm-6 text-end">
                <label>Rango de fechas</label>
                <p-calendar [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            inputId="range">

                </p-calendar>
              </div>
              <div class="col-sm-6 text-start">
                <button mat-raised-button
                        color="accent"
                        [disabled]="!rangeDates"
                        (click)="buscarMantenimientoReporteMantenimientoEstado()"
                >Buscar
                </button>
              </div>
              <div class="col-sm-12">
                <p-chart type="bar" [data]="datosPorEstado" [options]="{
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }"></p-chart>
              </div>
            </div>

          </p-accordionTab>
          <p-accordionTab header="Por usuario" [(selected)]="activeState[1]">
            <div class="row">
              <div class="col-sm-4">
                <form class="example-form">
<!--                  <mat-form-field class="example-full-width">-->
<!--                    <mat-label>Cédula técnico:</mat-label>-->
<!--             -->
<!--                  </mat-form-field>-->
                  <label >Usuario</label>
                  <input  placeholder="EJ: 1818181818" [(ngModel)]="usuarioSeleccionado" name="usuarioSeleccionado">
                </form>
              </div>
              <div class="col-sm-4 text-end">
                <label>Rango de fechas</label>
                <p-calendar [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            inputId="range">

                </p-calendar>
              </div>
              <div class="col-sm-4 text-start">
                <button mat-raised-button
                        color="accent"
                        [disabled]="!usuarioSeleccionado"
                        (click)="buscarMantenimientoReporteMantenimientoUsuario()"
                >Buscar
                </button>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card">
                <p-chart type="bar" [data]="datosPorUsuario" [options]="{
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }"></p-chart>
              </div>
            </div>

          </p-accordionTab>
          <p-accordionTab header="Por producto" [(selected)]="activeState[2]">
            <div class="row">
              <div class="col-sm-4 text-end">
                <label>Rango de fechas</label>
                <p-calendar [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            inputId="range">

                </p-calendar>
              </div>
              <div class="col-sm-4 text-end">
                <app-seleccionar-producto-inventario (seleccionoProducto)="productoSeleccionado= $event"></app-seleccionar-producto-inventario>
              </div>
              <div class="col-sm-4 text-start">
                <button mat-raised-button
                        color="accent"
                        [disabled]="!rangeDates"
                        (click)="buscarMantenimientoReporteMantenimientoArticuloInventario()"
                >Buscar
                </button>
              </div>
              <div class="col-sm-12">
                <div *ngIf="datosPorProducto" class="card">
                  <p-chart type="bar" [data]="datosPorProducto" [options]="{
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }"></p-chart>
                </div>
              </div>
            </div>

          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div *ngIf="!porMantenimiento" class="col-sm-12">
      <div class="mat-elevation-z8">
        <div class="p-py-3">
          <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)"
                    styleClass="p-button-text" label="Inventario general por fecha"></p-button>
          <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)"
                    styleClass="p-button-text p-ml-2" label="Inventario por producto"></p-button>
        </div>
        <p-accordion>
          <p-accordionTab header="General" [(selected)]="activeState[0]">
            <div class="row">
              <div class="col-sm-6 text-end">
                <label >Rango de fechas</label>
                <p-calendar [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            inputId="range">

                </p-calendar>
              </div>
              <div class="col-sm-6 text-start">
                <button mat-raised-button
                        color="accent"
                        [disabled]="!rangeDates"
                        (click)="buscarIngresosEgresosGeneral()"
                >Buscar
                </button>
              </div>
              <div class="col-sm-12">
                <p-chart type="bar" [data]="datosPorInventarioGeneral" [options]="{
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }"></p-chart>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Por producto" [(selected)]="activeState[1]">
            <div class="row">
              <div class="col-sm-4">
                <label>Rango de fechas</label>
                <p-calendar [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            inputId="range">
                </p-calendar>
              </div>
              <div class="col-sm-4 text-end">
                <app-seleccionar-producto-inventario (seleccionoProducto)="productoSeleccionado= $event"></app-seleccionar-producto-inventario>
              </div>
              <div class="col-sm-4 text-start">
                <button mat-raised-button
                        color="accent"
                        [disabled]="!(rangeDates?.length === 2 && productoSeleccionado)"
                        (click)="buscarIngresosEgresosPorArticulo()"
                >Buscar
                </button>
              </div>
            </div>
            <div *ngIf="datosPorInventarioProducto">
              <p-chart type="bar" [data]="datosPorInventarioProducto" [options]="{
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }"></p-chart>
            </div>
          </p-accordionTab>

        </p-accordion>
      </div>
    </div>
  </div>
</div>


