<div *ngIf="formularioBodegaInventario">
  <form [formGroup]="formularioBodegaInventario"
        class="example-form"
  >
    <div class="row">
      <!--nombre -->
      <div class="col-sm-12 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorNombre.length === 0 && formularioBodegaInventario?.get('nombre')?.value,
             'is-invalid': mensajesErrorNombre.length > 0
             }"
                   placeholder="Inventario uno"
                   formControlName="nombre"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un nombre</mat-hint>
            <div *ngIf="mensajesErrorNombre.length > 0">
              <div *ngFor="let mensaje of mensajesErrorNombre">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    codigo-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorCodigo.length === 0 && formularioBodegaInventario?.get('codigo')?.value,
             'is-invalid': mensajesErrorCodigo.length > 0
             }"
                   placeholder="B-01"
                   formControlName="codigo"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un código</mat-hint>
            <div *ngIf="mensajesErrorCodigo.length > 0">
              <div *ngFor="let mensaje of mensajesErrorCodigo">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    direccion-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorDireccion.length === 0 && formularioBodegaInventario?.get('direccion')?.value,
             'is-invalid': mensajesErrorDireccion.length > 0
             }"
                   placeholder="B-01"
                   formControlName="direccion"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese una dirección</mat-hint>
            <div *ngIf="mensajesErrorDireccion.length > 0">
              <div *ngFor="let mensaje of mensajesErrorCodigo">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    descripcion-->
      <div class="col-sm-12 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field >
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      [ngClass]="{
             'is-valid': mensajesErrorDescripcion.length === 0 && formularioBodegaInventario?.get('descripcion')?.value,
             'is-invalid': mensajesErrorDescripcion.length > 0
             }"
                      placeholder="Descripcion inventario"
                      formControlName="descripcion"
                      type="text"
                      class="form-control example-full-width"
                      aria-describedby="emailHelp"></textarea>
            <mat-hint>Ingrese una descripción</mat-hint>
            <div *ngIf="mensajesErrorDescripcion.length > 0">
              <div *ngFor="let mensaje of mensajesErrorDescripcion">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <ng-content></ng-content>
  </form>
</div>
