<h1 mat-dialog-title>{{data.producto ? 'Editar' : 'Crear'}} Producto</h1>
<div mat-dialog-content>
  <app-formulario-producto [producto]="data.producto"
                           (formularioEmitter)="setearProducto($event)">

  </app-formulario-producto>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!productoACrear"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.producto ? 'Guardar cambios' : 'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
