<div class="row">
  <div class="col-lg-9">
    <label >Seleccionar articulo</label>
    <p-autoComplete [(ngModel)]="productoSeleccionado"
                    [suggestions]="arregloProductos"
                    (completeMethod)="_cargarProductos($event)"
                    [emptyMessage]="'No existen registros'"
                    (onSelect)="emitirSeleccionoTransporte(productoSeleccionado)"
                    field="nombre"
    >

    </p-autoComplete>
<!--    <mat-form-field color="accent" appearance="fill">-->
<!--      <mat-label>Seleccionar producto*</mat-label>-->
<!--      <input type="text"-->
<!--             placeholder="Busque producto"-->
<!--             aria-label="Number"-->
<!--             matInput-->
<!--             [formControl]="controlAutocomplete"-->
<!--             [matAutocomplete]="auto">-->

<!--      <mat-autocomplete #auto="matAutocomplete"-->
<!--                        (optionSelected)="emitirSeleccionoTransporte($event.option.value)"-->
<!--                        [displayWith]="mostrarNombreCooperativa()"-->
<!--                        (opened)="true"-->
<!--      >-->
<!--        <mat-option *ngFor="let producto of opcionesFiltradas | async" [value]="producto">-->
<!--          {{producto.codigo}}-{{producto.nombre}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
  </div>
  <div class="col-lg-3">
    <div class="paddingTop26px">
      <button
        mat-raised-button
        (click)="this.productoSeleccionado = undefined; emitirSeleccionoTransporte(undefined)"
        color="primary">
        <mat-icon class="icon-small">cleaning_services</mat-icon>
      </button>
    </div>
  </div>
</div>

