<h1 mat-dialog-title>{{data.bodega ? 'Editar':'Crear'}} Bodega</h1>
<div mat-dialog-content>
  <app-formulario-bodega [bodega]="data.bodega"
    (formularioEmitter)="setearBodega($event)"></app-formulario-bodega>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!bodegaACrear"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{data.bodega ? 'Guardar cambios':'Guardar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>
