<div class="row">
  <div class="col-lg-9">
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Seleccionar bodega*</mat-label>
      <input type="text"
             placeholder="Busque bodegas"
             aria-label="Number"
             matInput
             [formControl]="controlAutocomplete"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="emitirSeleccionoBodega($event.option.value)"
                        [displayWith]="mostrarNombreBodega()"
                        (opened)="true"
      >
        <mat-option *ngFor="let bodega of opcionesFiltradas | async" [value]="bodega">
          {{
          bodega.nombre
          }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <div class="paddingTop26px">
      <button
        mat-raised-button
        (click)="this.controlAutocomplete.reset(); emitirSeleccionoBodega(undefined)"
        color="primary">
        <mat-icon class="icon-small">cleaning_services</mat-icon>
      </button>
    </div>
  </div>
</div>


