<h1 mat-dialog-title>Ingreso egreso de {{nombreArticulo}}</h1>
<div mat-dialog-content>

  <div class="row">
    <div class="col-sm-12">
      <mat-label>Ingreso/Egreso</mat-label>
      <mat-select
        [(ngModel)]="ingresoEgresoSeleccionado"

      >
        <mat-option [value]="true">Ingreso</mat-option>
        <mat-option [value]="false">Egreso</mat-option>
      </mat-select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input [(ngModel)]="cantidadSeleccionada"
               matInput
               type="number"
               placeholder="0"
               oninput="this.value = Math.abs(this.value)"
               min=0>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          [disabled]="!(cantidadSeleccionada && (ingresoEgresoSeleccionado === false || ingresoEgresoSeleccionado))"
          (click)="guardarRegistro()"
          mat-raised-button color="primary">{{ingresoEgresoSeleccionado ? 'Ingresar' : 'Egresar'}}</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Cancelar</button>
</div>

