
<mat-card>
  <div class="padding20px">
    <app-titulo-ruta
      [titulo]="'Cargar reporte diario'"
      [descripcion]="'Seleccione una fecha.'"
      [iconoUrl]="'problem.svg'"
      [mostrarIrAtras]="false"
    ></app-titulo-ruta>
  </div>
</mat-card>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-12" [innerHTML]="mensaje">

    </div>
  </div>

</div>
<div style="margin-top: 1em" >

  <button
    mat-raised-button
    color="primary"
    (click)="cerrarMensajeConfirmacion(true)"
    color="accent"> Confirmar
  </button>
  <button
    style="margin-top: 1em"
    mat-raised-button
    color="accent"
    (click)="cerrarMensajeConfirmacion(false)"
    color="accent"> Cancelar
  </button>


</div>
