<div *ngIf="formularioBodega">
  <form [formGroup]="formularioBodega"
        class="example-form"
  >
    <div class="row">
      <!--nombre -->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorNombre.length === 0 && formularioBodega?.get('nombre')?.value,
             'is-invalid': mensajesErrorNombre.length > 0
             }"
                   placeholder="Bodega uno"
                   formControlName="nombre"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un nombre</mat-hint>
            <div *ngIf="mensajesErrorNombre.length > 0">
              <div *ngFor="let mensaje of mensajesErrorNombre">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    es mantenimiento-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field >
            <mat-label>Es para mantenimiento</mat-label>
            <mat-select
              formControlName="esMantenimiento"
              [ngClass]="{
             'is-valid': mensajesErrorNombre.length === 0 && formularioBodega?.get('codigo')?.value,
             'is-invalid': mensajesErrorNombre.length > 0
             }"
            >
              <mat-option [value]="true">SI</mat-option>
              <mat-option [value]="false">NO</mat-option>
            </mat-select>
            <mat-hint>Puede hacer mantenimiento</mat-hint>
            <div *ngIf="mensajesErrorDescripcion.length > 0">
              <div *ngFor="let mensaje of mensajesErrorDescripcion">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <!--    descripcion-->
      <div class="col-sm-12 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field >
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      [ngClass]="{
             'is-valid': mensajesErrorDescripcion.length === 0 && formularioBodega?.get('descripcion')?.value,
             'is-invalid': mensajesErrorDescripcion.length > 0
             }"
                      placeholder="Bodega principal"
                      formControlName="descripcion"
                      type="text"
                      class="form-control example-full-width"
                      aria-describedby="emailHelp"></textarea>
            <mat-hint>Ingrese una descripción</mat-hint>
            <div *ngIf="mensajesErrorDescripcion.length > 0">
              <div *ngFor="let mensaje of mensajesErrorDescripcion">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>

    </div>
    <ng-content></ng-content>
  </form>
</div>
