

<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <div class="padding20px">
        <app-titulo-ruta [mostrarIrAtras]="true"
                         [titulo]="'Mantenimientos'"
                         [descripcion]="'Maneje los mantenimientos de los articulos de su inventario'"
                         [iconoUrl]="'mantenimiento-web.svg'"
        >

        </app-titulo-ruta>
        <br>
        <div class="row mat-elevation-z8 padding20px">
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field color="accent">
                  <mat-label>Busque por codigo de nombre o código*</mat-label>
                  <input matInput
                         placeholder="Ej: 239"
                         [(ngModel)]="textoBusqueda"
                  >

                </mat-form-field>
                <p class="form-text">
                  <mat-icon class="icon-small">info</mat-icon>
                  Puede buscar los departamentos por código o nombre.
                </p>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12 text-center">

                  <mat-form-field appearance="fill">
                    <mat-label>Seleccione un estado</mat-label>
                    <mat-select [(value)]="busquedaEstado">
                      <mat-option value="ER">En revision</mat-option>
                      <mat-option value="PE">Por entregar</mat-option>
                      <mat-option value="EN">Entregado</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
            </div>



            <button class="paddingLeftRigh10" mat-raised-button color="accent"
                    (click)="reiniciarArreglo()"
                    (click)="cargarDatos()"
            >
              Buscar
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="col-md-2">
            <div class="paddingTop26px">
              <button
                mat-raised-button
                (click)="textoBusqueda = undefined"
                (click)="busquedaEstado = undefined"
                color="primary">
                <mat-icon class="icon-small">cleaning_services</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="mat-elevation-z8">

        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">

          </ng-template>
          <ng-template pTemplate="right">
            <button pButton
                    pRipple
                    label="Nuevo"
                    icon="pi pi-plus"
                    class="p-button-success p-mr-2"
                    (click)="abrirModalCrearEditar()">

            </button>
          </ng-template>
        </p-toolbar>
        <p-table [columns]="columnasPrimeTable"
                 [frozenColumns]="columnasPrimeTable"
                 [value]="mantenimientos"
                 [lazy]="true" (onLazyLoad)="cargarMasDatos($event)"
                 [paginator]="true"
                 [rows]="filas"
                 [totalRecords]="totalMantenimientos"
                 styleClass="p-datatable-responsive-demo"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col [class]="'col-width col-width-' + col.width" *ngFor="let col of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{col.header}}
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mantenimiento let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'nombre'">
                  <mat-card>
                    <div class="row paddinBottom2">
                      <div class="col-sm-10 text-center">
                        <p class="titulo-card-centro">   {{mantenimiento.nombre}}</p>
                      </div>
                      <div class="col-sm-2 text-center fw-bold">
                         {{mantenimiento.estado | estadoMantenimientoPipe}}
                      </div>
<!--                      <div class="col-sm-2 text-end">-->
<!--                        <mat-slide-toggle [checked]="mantenimiento.habilitado"-->
<!--                                          (change)="activarDesactivarRegistro(mantenimiento)">-->
<!--                          {{mantenimiento | activoInactivo}}-->
<!--                        </mat-slide-toggle>-->
<!--                      </div>-->
                    </div>

                    <mat-card-content >
                      <div class="row">
                        <div class="col-sm-12 text-center paddinBottom2">
                          <strong>Información mantenimiento</strong>
                        </div>
                        <div class="col-sm-12 text-center paddinBottom2">
                          <strong>Técnico encargado</strong> {{mantenimiento.nombreTecnico}}-{{mantenimiento.cedulaTecnico}}
                        </div>

                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6 text-center paddinBottom2">
                              <strong>Descripción:</strong> {{mantenimiento.descripcion}}
                            </div>
                            <div class="col-sm-6 text-center paddinBottom2">
                              <strong>Fecha ingreso:</strong> {{mantenimiento?.fechaIngreso  | date: 'dd-MM-yyyy'}}
                            </div>
                            <div class="col-sm-6 text-center paddinBottom2">
                              <strong>Fecha inicia mantenimiento:</strong> {{mantenimiento?.fechaIniciaMantenimiento  }}
                            </div>
                            <div class="col-sm-6 text-center">
                              <strong>Fecha entrega:</strong> {{mantenimiento?.fechaEntrega }}
                            </div>
                            <div class="col-sm-6 text-center">
                              <strong>Fecha termina mantenimiento:</strong> {{mantenimiento?.fechaTerminaMantenimiento }}
                            </div>
                          </div>
                        </div>

                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div *ngIf="col.field === 'id'">

                  <div class="mat-elevation-z8">
                    <div class="row padding20px">
                      <div class="col-sm-12 text-center paddinBottom2">
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="abrirModalCrearEditar(mantenimiento)"
                        >
                          Editar
                        </button>

                      </div>
                      <div class="col-sm-12 text-center">

                        <div class="row"  *ngIf="!mantenimiento.fechaTerminaMantenimiento">
                          <div class="col-sm-12">
                            <mat-form-field appearance="fill">
                              <mat-label>Seleccione un estado</mat-label>
                              <mat-select [(value)]="estadoACambiarSeleccionado">
                                <mat-option *ngIf="!mantenimiento.fechaTerminaMantenimiento && !mantenimiento.fechaEntrega && !mantenimiento.fechaIniciaMantenimiento" value="ER">En revision</mat-option>
                                <mat-option *ngIf="!mantenimiento.fechaTerminaMantenimiento && !mantenimiento.fechaEntrega    " value="EN">Entregado</mat-option>
                                <mat-option *ngIf="!mantenimiento.fechaTerminaMantenimiento && !mantenimiento.fechaEntrega"  value="NR">No realizado</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <br>
                          <div class="col-sm-12 text-center">

                            <button
                              [disabled] = !estadoACambiarSeleccionado
                              mat-raised-button color="primary"
                              (click)="actualizarMantenimiento(mantenimiento)"
                            >
                              Actualizar
                            </button>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No existen mantenimientos. <strong>Click en nuevo</strong> para crear un nuevo mantenimiento</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>

  </div>

</div>

