<div *ngIf="formularioUsuario" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-title class="text-center">GOBIERNO AUTÓNOMO DESCENTRALIZADO MUNICIPAL DEL CANTÓN ALAUSÍ</mat-card-title>
    <img style="margin-left: -5rem;" [src]=" 'assets/img/logo.png'" alt="">
    <mat-card-header>


      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formularioUsuario" class="example-form">
      <mat-card-content>
        <div class="col-sm-12 text-center marginbottom1rem">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <input matInput
                     [ngClass]="{
             'is-valid': mensajesErrorUsuario.length === 0 && formularioUsuario?.get('usuario')?.value,
             'is-invalid': mensajesErrorUsuario.length > 0
             }"
                     placeholder="user001"
                     formControlName="usuario"
                     type="text"
                     class="form-control example-full-width"
                     aria-describedby="emailHelp">
              <mat-hint>Ingrese un usuario</mat-hint>
              <div *ngIf="mensajesErrorUsuario.length > 0">
                <div *ngFor="let mensaje of mensajesErrorUsuario">
                  <mat-error>
                    <p>{{mensaje}}</p>
                  </mat-error>
                </div>
              </div>
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm-12 text-center marginbottom1rem">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput
                     [ngClass]="{
             'is-valid': mensajesErrorPassword.length === 0 && formularioUsuario?.get('password')?.value,
             'is-invalid': mensajesErrorPassword.length > 0
             }"
                     placeholder="B-01"
                     formControlName="password"
                     [type]="hide ? 'password' : 'text'"
                     class="form-control example-full-width"
                     aria-describedby="emailHelp">
              <mat-hint>Ingrese un password</mat-hint>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="mensajesErrorPassword.length > 0">
                <div *ngFor="let mensaje of mensajesErrorPassword">
                  <mat-error>
                    <p>{{mensaje}}</p>
                  </mat-error>
                </div>
              </div>
            </mat-form-field>

          </div>
        </div>
        <button mat-stroked-button color="accent"
                class="btn-block"
                [disabled]="!formularioUsuario.valid"
                (click)="login()"
        >Ingresar</button>
      </mat-card-content>
    </form>
  </mat-card>

</div>
