<div class="row">
  <div class="col-md-1" *ngIf="mostrarIrAtras">
    <button class="espacio-boton-atras" mat-raised-button

            color="accent"
            (click)="irAtras()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <div [class]="'col-md-' + (mostrarIrAtras ? '9' : '10') ">
    <h1>{{titulo}}</h1>
    <p>{{descripcion}}</p>
  </div>
  <div class="col-md-2">
    <img class="icono-titulo rounded mx-auto d-block" [src]="'/assets/img/iconos/' + iconoUrl" alt="">
  </div>
</div>
<br>
