
<div *ngIf="formularioMantenimiento">
  <form [formGroup]="formularioMantenimiento"
        class="example-form"
  >
    <div class="row">
      <!--nombre -->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre técnico</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorNombre.length === 0 && formularioMantenimiento?.get('nombre')?.value,
             'is-invalid': mensajesErrorNombre.length > 0
             }"
                   placeholder="Luis Lopez"
                   formControlName="nombreTecnico"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese un nombre</mat-hint>
            <div *ngIf="mensajesErrorNombre.length > 0">
              <div *ngFor="let mensaje of mensajesErrorNombre">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    cedula-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Cédula tecnico</mat-label>
            <input matInput
                   [ngClass]="{
             'is-valid': mensajesErrorCedula.length === 0 && formularioMantenimiento?.get('cedulaTecnico')?.value,
             'is-invalid': mensajesErrorCedula.length > 0
             }"
                   placeholder="17171717177"
                   formControlName="cedulaTecnico"
                   type="text"
                   class="form-control example-full-width"
                   aria-describedby="emailHelp">
            <mat-hint>Ingrese una cédula</mat-hint>
            <div *ngIf="mensajesErrorCedula.length > 0">
              <div *ngFor="let mensaje of mensajesErrorCedula">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>
      <!--    tipo mantenimiento-->
      <div class="col-sm-6 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Tipo mantenimiento</mat-label>
            <mat-select
              formControlName="tipoMantenimiento"
              [ngClass]="{
             'is-valid': mensajesErrorTipoMantenimiento.length === 0 && formularioMantenimiento?.get('codigo')?.value,
             'is-invalid': mensajesErrorTipoMantenimiento.length > 0
             }"

            >
              <mat-option value="one">Hadware Preventivo</mat-option>
              <mat-option value="two">Hadware Correctivo</mat-option>
              <mat-option value="two">Software Preventivo</mat-option>
              <mat-option value="two">Software Correctivo</mat-option>
            </mat-select>
            <mat-hint>Seleccione un tipo de mantenimiento</mat-hint>
            <div *ngIf="mensajesErrorTipoMantenimiento.length > 0">
              <div *ngFor="let mensaje of mensajesErrorTipoMantenimiento">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>

        </div>
      </div>

      <!--    descripcion-->
      <div class="col-sm-12 text-center marginbottom1rem">
        <div class="form-group">
          <mat-form-field >
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      [ngClass]="{
             'is-valid': mensajesErrorDescripcion.length === 0 && formularioMantenimiento?.get('descripcion')?.value,
             'is-invalid': mensajesErrorDescripcion.length > 0
             }"
                      placeholder="Bodega principal"
                      formControlName="descripcion"
                      type="text"
                      class="form-control example-full-width"
                      aria-describedby="emailHelp"></textarea>
            <mat-hint>Ingrese una descripción</mat-hint>
            <div *ngIf="mensajesErrorDescripcion.length > 0">
              <div *ngFor="let mensaje of mensajesErrorDescripcion">
                <mat-error>
                  <p>{{mensaje}}</p>
                </mat-error>
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <ng-content></ng-content>
  </form>
</div>
